// ==========================================================================
// Main
// ==========================================================================

#loading {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: $preloader--background-color;
	@include prefix(transition, all 0.2s ease);
	display: table;
	>div {
		display: table-cell;
		vertical-align: middle;
	}
}

@include keyframes(loader) {
	0%{
		@include prefix(transform, rotate(0deg));
	}
	100%{
		@include prefix(transform, rotate(359deg));
	}
}

#snowflakeloader {
	fill: $preloader--color;
	width: 90px;
	height: 90px;
	@include animation($preloader--spin loader linear infinite);
}

body {
	overflow: hidden;
	height: 100%;
	font-size: 16px;
	margin: 0px;
	position: relative;
	background-color: $black;
	font-family: $font-family--primary;
	font-weight: 300;

	&.mobile {
		background-image: url(../images/cabin-bg-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&.dev {
		.img-main {
			opacity: .3;
		}
		* {
			border: 1px dashed cyan;
		}
		.candle::after {
			content:'';
			position: absolute;
			width: 30px;
			height: 30px;
			left: -12px;
			top: -12;
			background-color: white;
		}
		#loading {
			background-color: #111;
		}
	}
}

a{
	cursor: pointer;
}

p{
	padding: 0;
	margin: 0;
}

#trigger-menu {
	display: none;
	&:checked {
		~ .controls {
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
		}
		~ .page {
			-webkit-transform: translateX(-30%);
			transform: translateX(-30%);
		}
		+ #btn-menu {
			background-color: rgba($black, 1);
			right: 30%;
			.fa{
				-webkit-transform: scale(1);
				transform: scale(1);
				opacity: 1;
				@include prefix(transform, rotate(180deg));
			}
		}
	}
}

.btn {
	@include no-select();
}

#fullscreen {
	top: 0;
	left: 0;
	@include prefix(transition, all 0.3s ease);
	position: fixed;
	opacity: .9;
	background-color: $black;
	color: #FDE3A7;
	border-radius: 7px;
	padding: 20px;
	z-index: 4;
	font-size: 1.5em;
	cursor: pointer;
	border: 0;
	outline: 0;
	.fa {
		@include prefix(transition, all 0.3s ease);
	}
	&:hover, &:focus {
		color: $flat-turquoise;
	}
	&.shrink {
		background-color: rgba($black, 0);
		.fa {
			-webkit-transform: scale(0.5);
			transform: scale(0.5);
			opacity: .4;
		}
		&:hover {
			background-color: rgba($black, 1);
			.fa {
				-webkit-transform: scale(1);
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	body.mobile & {
		display: none;
	}
}

// show play button on mobile devices only
.play {
	display: none;

	body.mobile & {
		display: block;
		position: fixed;
		top: 40%;
		left: 0%;
		right: 0%;
		width: 23px;
		margin: 0 auto;
		padding: 30px;
		background-color: #111;
		opacity: 0.9;
		border-radius: 4px;
		font-size: 2em;
		color: $color-text;
		&:active{
			color: $link--hover;
		}
	}
}

.audio-mobile {
	display: none;
	body.mobile & {
		display: block;
		position: fixed;
		top: 200px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		max-width: 300px;
	}
}

.social-share {
	@include prefix(transition, all 0.3s ease);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	position: fixed;
	left: 0;
	right: 0;
	bottom: 90px;
	margin: 0 auto;
	z-index: 1;
	&.hide{
		opacity: 0;
	}
}

.page {
	position: relative;
	right: 0;
    @include prefix(transition, .3s ease);
}

.img-main {
	@include prefix(transition, all $hide-duration ease);
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
	&.grayscale{
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: gray;
		-webkit-filter: grayscale(100%);
	}
	body.mobile &{
		display: none;
	}
}

video.fire {
	@extend %absolute;
	top: 54%;
	left: 7.75%;
	width: 17%;
	z-index: 0;
	@include prefix(transition, all $hide-duration ease);
	@include prefix(transform, rotate(-5deg));
	&.grayscale{
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: gray;
		-webkit-filter: grayscale(100%);
	}

	body.mobile & {
		display: none;
	}
}

video.snow {
	@extend %absolute;
	top: 15%;
	right: 0;
	width: 54%;
	z-index: 0;

	body.mobile & {
		display: none;
	}
}

.title-wrap {
	position: fixed;
	-webkit-backface-visbility: hidden;
	backface-visibility: hidden;
	z-index: 2;
	font-size: 3em;
	left: 0;
	right: 0;
	top: 20px;
	text-align: center;
}

.loader-title{
	color: $preloader--color;
	font-family: $font-family--secondary;
}

.title{
	@include prefix(transition, all 0.3s ease);
	color: $color-text;
	font-family: $font-family--secondary;
	text-shadow: 0px 0px 50px $white;
	position: relative;
	display: inline-block;
	margin: 10px 0px;
	right: 0;
	display: block;
	&.hide{
		opacity: 0;
		display: none;
	}
}

.split{
	display: table;
	margin: 20px 0;
}

#btn-menu{
	@include prefix(transition, all 0.3s ease);
	position: fixed;
	opacity: .9;
	top: 0%;
	right: 0%;
	background-color: rgba($black, 1);
	color: $color-text;
	border-radius: $border-radius;
	padding: 20px;
	z-index: 4;
	font-size: 2em;
	cursor: pointer;
	&:hover {
		color: $link--hover;
	}

	&.shrink {
		background-color: rgba($black, 0);
		.fa {
			-webkit-transform: scale(0.5);
			transform: scale(0.5);
			opacity: .4;
		}
		&:hover {
			background-color: rgba($black, 1);
			.fa {
				-webkit-transform: scale(1);
				transform: scale(1);
				opacity: 1;
			}
		}
	}

	body.mobile & {
		display: none;
	}

	.fa {
		@include prefix(transition, transform 0.2s ease);
	}
}

.controls{
	@include prefix(transition, all .3s ease);
    @include box-shadow(7px 0 16px #000 inset);
	width: 30%;
	overflow-y: auto;
	height: 100%;
	text-align: center;
	right: -30%;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	background-color: $color-bg--section;
	position: fixed;
	z-index: 3;
	padding: 25px 0px;
	color: $color-text;
	font-size: 1em;

	a {
		color: $color-text;
	}

	div.val {
		display: inline-block;
		width: 70px;
		text-align: center;
		font-size: 1.2em;
	}

	&__title {
		font-size: 1.2em;
		margin: 20px 10px;
	}

	.volume {
		@include prefix(transition, all 0.1s ease);
		font-size: 2em;
		padding: 20px 25px;
		border-radius: $border-radius;
		display: inline-block;
		background-color: $black--lighter;
		position: relative;
		top: 0px;
		box-shadow: 0px $push-btn-height 0px 0px $black--lightest, 0px 5px 10px #000;
		&:hover {
			color: $link--hover;
		}
		&:active {
			box-shadow: 0px 0px 0px 0px $black--lighter, 0px 0px 1px #000;
			top: $push-btn-height;
		}
	}

	.mute {
		@extend .volume;
		width: 40px;
	}

	.hide-text {
		@extend .volume;
		font-size: 1.2em;
		width: 100px;
	}

	.credit {
		width: 100%;
		padding: 10px;
		display: block;
		margin: 0 auto;
		color: #444;
		font-weight: 400;
		margin-bottom: 30px;
		a {
			color: #444;
			font-weight: 400;
		}
	}
}


footer {
	opacity: .9;
	background-color: $color-bg--section;
	margin: 0 auto;
	position: fixed;
	z-index: 3;
	bottom: 10px;
	left: 0;
	right: 0;
	color: $color-text;
	padding: 10px;
	width: 100%;
	max-width: 80px;
	border-radius: $border-radius;
	text-align: center;
	font-size: .9em;
	@include prefix(transition, all $hide-duration ease);
	a{
		color: $color-text;
		&:hover {
			color: $link--hover;
		}
	}
	&.hide {
		opacity: 0;
	}
}

.downloads {
	a {
		color: #444;
		font-weight: 400;
	}
}

.shortcut {
	color: #444;
	font-weight: 400;
	span {
		border: 1px solid #222;
		border-radius: 2px;
		min-width: 15px;
		margin-bottom: 8px;
		display: inline-block;
		padding: 1px 3px;
	}
}

.muted{
	.fa:before {
		// toggle fa-volume-up to fa-volue-off (font-awesome 4.2.0)
		content: "\f026";
	}
}

.mobile-play {
	display: none;
	body.mobile & {
		display: block;
		position: fixed;
		top: 200px;
		font-size: 2em;
		padding: 25px;
		background-color: #111;
		opacity: .9;
		color: $color-text;
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 35px;
		border-radius: 4px;
		text-align: center;

		&:active{
			color: $link--hover;
		}
	}
	&.playing {
		> .fa-play:before {
			content: "\f04c";
		}
	}
}

@media screen and (max-width: 991px) {
	.title {
		font-size: 1.2em;
	}
	.controls {
		width: 60%;
		right: -60%;
	}
	#trigger-menu {
		&:checked {
			+ #btn-menu {
				right: 62%;
			}
		}
	}
	#btn-menu {
		font-size: 1.2em;
	}
	#fullscreen {
		font-size: 1em;
	}
	.controls {
		padding: 10px 0px;
		font-size: 1em;

		div.val {
			font-size: 1.0em;
			width: 33px;
		}

		&__title {
			font-size: 1.2em;
			margin: 20px 10px;
		}

		.volume {
			@include prefix(transition, all 0.1s ease);
			font-size: 1.2em;
			padding: 10px 15px;
		}

		.mute {
			width: 18px;
		}
	}
}
